$header-font: 'IBM Plex Sans', sans-serif;

.header_main {
    width: 100%;
    height: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 50px;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    font-family: $header-font;
    line-height: 23px;
}

.header_top {
    position: absolute;
    left: 50px;
    background-color: inherit;
    width: 100%;
    top: 35px;
    z-index: 800;

    & > .main_title_link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24.5px;
    }
}

.header_bottom {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.bottom_left {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 200;
}

.small_intro {
    font-family: inherit;
    display: block;
    margin-bottom: 10px;
    margin-left: 4px;
}

.header_description {
    font-family: inherit;
    font-size: 74px;
    line-height: 92px;
    text-shadow: 2px 2px 4px #a7a7a7;
}

.bottom_right {
    width: 40%;
    min-height: 247px;
    max-height: 247px;
    position: absolute;
    margin-right: 60px;
}

.bottom_right_img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom_right_img_background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}