.sidebar_btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 35px;
    z-index: 1000;
    overflow: hidden;
    background: transparent;
}

.bar1, .bar2, .bar3 {
    width: 19px;
    height: 3px;
    margin: 4px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.fullScreenHover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

    
    & > .hover {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 50px;
        padding-bottom: 0px;
        padding-top: 0px;
        overflow: hidden;

        & > .mainTitle {
            position: fixed;
            top: 35px;
            left: 50px;

            & > a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 24.5px;
                font-family: inherit;
                color: #fff;
                font-weight: 500;
            }
        }

        & > ul {
            padding-left: 18px;

            & > li {
                display: block;
                padding: 30px 0px 0px 0px;

                & > a {
                    text-decoration: none;
                    color: #fff;
                    font-family: inherit;
                    font-size: 19px;
                    text-shadow: -2px 1px 2px #00000099;
                    position: relative;
                    transition: all 2s ease-in-out;

                    &::after {
                        content: "";
                        width: 33px;
                        height: 2px;
                        bottom: 9px;
                        position: absolute;
                        background-color: #ffffff85;
                        margin-left: 7px;
                    }

                    &:hover {
                        &::after {
                            width: 50px;
                        }
                    }

                    @media ( max-width: 504px ) {
                        font-size: 15px;
                    }
                }

                @media ( max-width: 504px ) {
                    padding: 19px 0px 0px 0px;
                }
            }

            @media ( max-width: 504px ) {
                padding-left: 0px;
            }
        }
    }
}