.myContent {
    width: 100%;
    height: auto;
    background-color: inherit;
    padding-top: 60px;
    padding: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    overflow: hidden;
}

.aboutME_text {
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    padding: 3px 12px;
    border-radius: 3px;
    font-size: 25px;
    text-shadow: 0px 0px 3px #000000a6;
    box-shadow: 1px 3px 3px 1px #b1b1b17a;

    @media ( max-width: 520px ) {
        font-size: 19px;
    }

    @media ( max-width: 388px ) {
        font-size: 15px;
    }
}

.aboutME_container {
    background-color: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;

    @media ( max-width: 856px ) {
        flex-direction: column-reverse;
    }
}

.left {
    width: 55%;

    @media ( max-width: 856px ) {
        width: 100%;
    }
}

.left_p {
    letter-spacing: 1.40px;
    line-height: 26px;

    @media ( max-width: 520px ) {
        line-height: 22px;
        font-size: 14px;
    }

    @media ( max-width: 388px ) {
        line-height: 19px;
        font-size: 12px;
    }
}

.right {
    width: 40%;

    @media ( max-width: 856px ) {
        width: 56%;
    }
}

.right_img {
    width: 100%;
}