.bgChangerWapper {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 35px;
    height: 30px;
    z-index: 998;
    border: 1px solid #bbbbbb;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shows_colorPallet {
    position: absolute;
    left: -209px;
    width: 240px;
    height: 24px;
    background-color: transparent;
}

.listed {
    list-style-type: none;
    width: 84%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & > li {
        float: left;
        border: none;
        border-radius: 19px;
        padding: 12px 13px;
        box-shadow: 2px 1px 2px 1px #dcdcdc;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0px 0px 0px 7px;
        border-top: 7px solid #69000000;
        border-left: 10px solid #d03a3a;
        border-bottom: 7px solid #f5161600;
    }
}